<body>
<div class="hints-areas">
<div class="columns">
<figure class="image is-128x128 column">
  <%= image_tag current_user.image.url%>
</figure>
<div class="column is-four-fifths">
	Some text
</div>
</div>
</div>
</body>