<body>
<% @hints.each do |hint| %>
<div class="hints-areas">
<div class="flex-container">
<figure class="item">
  <%= image_tag hint.user.image.url, class:'p-image'%>
</figure>
<div class="item">
	<h1 class="title is-6"><%= hint.user.fullname %> </h1>
	<%= hint.text %>
</div>
</div>
</div>
<% end %>
</body>