<body>

<p id="notice"><%= notice %></p>
<div class="columns">
 <div class=" column first_part1">
   <%= render 'menu' %>
 </div>
  <div class=" column is-three-fifths">
   <span><i class="fas fa-paint-brush"></i></span>
 </div>

<div class=" column">
rrrrrrrrrrrrrrrrrr
</div>

</div>

</body>