/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */
@import "bulma";

html, body {
  height: 100%;
  margin: 0;
}

main {
  width: 60%;
  margin: auto;
  margin-top: 1rem;
}

.first_part {
  background-color: #000033;
  height: 100%;
}

.second_part {
  background-color: #0099e6;
}

.third_part {
  background-color: #0099e6;
}

.third_part span i, 
.second_part span i {
  font-size: 1.5rem;
  margin: 1.2rem 1rem 0 1.3rem;
}
 
.second_part span i {
  color: #fff;
}

nav {
  height: 6rem;
  padding-top: 0.5rem;
}


.first_part img,
.first_part p {
 margin: 1rem 0 0 1rem;
}

.uname {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  opacity: .5;
  justify-content: center;
}